In [1]:
import pandas as pd
import os

In [2]:
from datetime import datetime

In [3]:
os.chdir('/app')

In [4]:
df = pd.read_csv('data/raw/Binance_ETHUSDT_2024_minute.csv')
df['date'] = pd.to_datetime(df['date'])

In [5]:
df.sort_values(by='date', ascending=True, inplace=True)

In [6]:
df[df['date'] == datetime(2024, 12, 1, 15, 26)]

,unix,date,symbol,open,high,low,close,volume ETH,volume USDT,tradecount
43713,1733066760000,2024-12-01 15:26:00,ETHUSDT,3716.21,3724.99,3716.21,3724.18,1332.186,4.956458e+06,6885