In [2]:
import pandas as pd
import os

In [3]:
os.chdir('/app')

In [10]:
df = pd.read_csv('data/raw/Binance_ETHUSDT_2024_minute.csv')

In [12]:
df.sort_values(by='Date')

,Unix,Date,Symbol,Open,High,Low,Close,Volume ETH,Volume USDT,tradecount
526737,1704067200000,2024-01-01 00:00:00,ETHUSDT,2281.87,2282.94,2281.27,2282.20,170.0969,388169.958624,532
526736,1704067260000,2024-01-01 00:01:00,ETHUSDT,2282.20,2283.97,2282.20,2283.96,125.3386,286127.196717,436
526735,1704067320000,2024-01-01 00:02:00,ETHUSDT,2283.97,2284.60,2283.80,2284.39,178.8883,408627.974263,413
526734,1704067380000,2024-01-01 00:03:00,ETHUSDT,2284.38,2286.43,2284.38,2286.37,258.6704,591215.450907,647
526733,1704067440000,2024-01-01 00:04:00,ETHUSDT,2286.38,2287.84,2286.37,2287.84,177.5759,406172.529258,565
...,...,...,...,...,...,...,...,...,...,...
4,1735689300000,2024-12-31 23:55:00,ETHUSDT,3340.49,3341.74,3340.48,3341.74,36.0196,120337.937573,395
3,1735689360000,2024-12-31 23:56:00,ETHUSDT,3341.73,3342.32,3340.64,3340.64,45.0280,150474.076557,383
2,1735689420000,2024-12-31 23:57:00,ETHUSDT,3340.64,3340.76,3339.33,3339.34,49.7223,166090.665153,250
1,1735689480000,2024-12-31 23:58:00,ETHUSDT,3339.35,3339.35,3338.41,3338.42,17.0398,56893.956611,220
0,1735689540000,2024-12-31 23:59:00,ETHUSDT,3338.42,3339.06,3337.43,3337.78,116.6231,389331.499420,326